/* Index.html estilos */
body {
    background-color: #151515;
    padding-left: 20px;
    padding-right: 20px;
}
@font-face {
    font-family:"AliciaWonderland";
    src: url(./fonts/Aliciawonderland-ZoM8.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:"Midnight Minutes";
    src: url(./fonts/MidnightMinutes_DEMO.otf);
    font-style: normal;
    font-weight: normal;
}
.title{
    color: #cecece;
    text-align: center;
    border: 1px solid #5f1818;
    padding: 10px;
    font-family: "AliciaWonderland";
    max-width: 604px;
    margin: 0 auto;
    margin-bottom: 28px;
    margin-top: 19px;
    text-transform: uppercase;
    font-size: xx-large;
}
.quiz-description{
    color: #b3afaf;
    max-width: 790px;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 22px;
    margin-top: 38px;
    font-size: medium;
    font-family: "halloween day's";
    font-size: large;
    letter-spacing: 0.9px;
    line-height: 27px;
  
}
.button{
    background-color: #550a0a;
    color: white;
    text-decoration: none;
    padding: 12px 22px;
    border: 2px solid #e8e8e8;
    font-size: x-large;
    display: flex;
    justify-content: center;
    margin:45px auto;
    max-width: fit-content;
    font-family: "AliciaWonderland";
}
.button:hover{
    background-color: #a30101;
    scale: 1.05;
}
.images-main{
    padding: 7px;
    border: 2px solid #252525;
    margin: 0 auto;
    width: fit-content;
}
.image{
    width: 96px;
    align-items: center;
    height: 134px;
   
}
.botonMurciegalo{
    display: flex;

}
.murciegalo{
    display: block;
    margin: 0 auto;
    border-radius: 54%;
    width: 50px;
    height: 50px;
}

/* Quiz estilos */
form{
    background-color: #323232;
    padding-bottom: 4px;
}
fieldset{
    padding: 14px;
    margin: 12px;
    border: 3px solid #6f6f6f;
}
@font-face {
    font-family: "halloween day's" ;
    src: url(./fonts/halloween\ day\'s.ttf);
}
legend{
    margin-bottom: 13px;
    text-align: initial;
    line-height: 19px;
    background-color: #3a000c;
    padding: 14px;
    margin-left: -45px;
    margin-right: -4px;
    color: #d9d9d9;
    font-family: "halloween day's";
    font-size: larger;
    letter-spacing: 1px;
}
label{
    display: block;
    margin-bottom: 5px;
    border: 1px solid black;
    padding: 10px;
    color: #c5c5c5;
    font-family: "halloween day's";
    letter-spacing: 1px;
}
label:hover{
    background-color: #4e4c4c;
}
input [type="radio"]{
    display: none;
}


footer{
    background-color: rgb(133, 133, 133);
    display: flex;
    padding: 26px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: -36px;
    margin-top: 30px;
    font-size: medium;
    color: #480202;
    font-family: "halloween day's";
    letter-spacing: 1px;
    text-align: center;

}
#botonEnviar{
    padding: 14px;
    background-color: #250000;
    color: #c3c3c3;
    font-family: "halloween day's";
    letter-spacing: 1px;
    font-size: larger;
    display: block;
    margin: 0 auto;
    margin-bottom: 14px;
    width: 80%;
}
#botonEnviar:hover{
    background-color: #a30101;
    color: #ffffff;
}

/* Media querys */
@media screen and (min-width: 768px) {
    form{
        padding-top: 2px;
    }
    fieldset{
        padding-bottom: 26px;
        margin-bottom: 20px;
    }
    legend{
        max-width: 664px;
    }
    label{
        max-width: none;
        font-size: larger;
    }
    #botonEnviar{
        font-size: 28px;
        padding: 10px;
        font-style: italic;
        max-width: 211px;
    }
    footer{
        font-size: 18px;
        display: flow;
    }
}

@media screen and (min-width: 1366px) {
    form{
        margin-bottom: 52px;
    } 
    legend{
        min-width: 1211px;
        font-size: 28px;
        line-height: 39px;
        padding: 20px;
    }
    label{
        font-size: x-large;
        letter-spacing: 2px;
        min-width: 1228px;
    }
    #botonEnviar{
        min-width: 299px;
        font-size: xx-large;
        padding: 22px;
        font-style: italic;
    }
    footer{
        font-size: 28px;
        display: flow;
    }
}

